body {
  background-color: #C9C9C9; 
  color: black;
}

/**/
#headerImg {
	width: 400;
	margin-bottom: 1em;
}


.ng-class {
	width: 20em;
}

/*inserts background image and positions it*/
header {
	min-height: 500px;
	background-position: center;	
	background-image: url("img/record-player.jpg");
	margin-bottom: 50px;
	background-repeat: no-repeat;
}

/*positions the logo*/
header img {
	margin-top: 180px;	
}

/*changes the color and positions of the span text stating that the user can click a song to preview*/
div.help-block {
	text-align: center;
	color: black;
}

/*Controls size of result images*/
.resultDiv img {
	min-height: 240px;
	max-width: 240px;
}

/*positions the divs containing result images*/
.resultDiv {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	padding: 1%;
}

/*positions backdrop, and gives it a box-shadow*/
#popup {
	box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5); /*h-shadow, v-shadow, blur, color*/
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 10%;
	z-index: 100;
	background-color: #434343;
	color: #AEAEAE;
	width: 80%;
	height: 80%;
	text-align: center;
	overflow: auto;
}

/*darkens opaque backdrop for the popup to focus user's attention, set z-index to one below
the popup in order to make it a background*/
.overlay { 
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #AEAEAE;
    opacity:0.8;
    z-index:99;
}

/*positions the selecteImages div where each result div/image shows up*/
#selectImages {
	padding: 1%;
	display: block;
	margin-right: 0 auto;
	margin-left: 0 auto;
	text-align: center;
}

/*positions the pause music button in bottom right of screen*/
.btn-warning {
	position: fixed;
	z-index: 101;
	right: 2%;
	bottom: 3%;
}

/*positions the album art image in the popup*/
img.popupAlbum {
	padding-top: 20px;
	width: 450px;
	height: 450px;
}

/*positions the line in the popup*/
#popup hr {
	width: 50%;
	margin-bottom: 8px;
}

/*positions the instagram icon in the popup*/
#instaIcon {
	width: 25px;
	height: 25px;
	margin-bottom: 15px;
}

/*padding on the image results from instagram*/
img.instaImage {
	width: 300px;
	padding: 5px;
}

/*changes how the list of instagram result pics is displayed*/
li.instaResultList {
	display: inline;
}

/*When the screen is smaller than 768px (for smartphones), change the image sizes of the popups*/
@media screen and (max-width: 768px) {
	img.popupAlbum {
		margin-left: auto;
		margin-right: auto;
		width: 290px;
		height: 290px;
	}

	img.instaImage {
		width:200px;
	}

	h4 {
		margin-left: auto;
		margin-right: auto; 
	}
}