<!-- myModalContent.html -->
<div class="modal-header">
	<h3 class="modal-title additionalInfo">{{currentTrack.name}}</h3>
</div>
<div class="modal-body center-block">
	<img class='popupAlbum center-block' src='{{currentTrack.album.images[1].url}}' alt="{{currentTrack.name}}">
	<h4 class="additionalInfo">"{{currentTrack.name}}" by {{currentTrack.artists[0].name}}</h4>
	<h4 class="additionalInfo">from the album <i>{{currentTrack.album.name}}</i></h4>
	<hr>
	<img id='instaIcon' class="center-block" src='img/Instagram.png'>
	<p class="additionalInfo"> Displaying recent Instagram photos tagged with #{{hashtag}}:</p>
	<div class="container instaDiv">
		<div ng-repeat="img in instaImg" class=" instaImageDiv col-xs-12 col-sm-6 col-md-4">
			<img class='instaImage' src='{{img.images.low_resolution.url}}'>
		</div>
	</div>
</div>

<div class="modal-footer">

	<button class="btn btn-warning" type="button" ng-click="pause()">Pause Music</button>
	<button class="btn btn-danger" type="button" ng-click="close()">Close</button>
</div>